<div class="box-content">
    <div class="box-content-row box-content-row-flex">
        <div class="row-main">
            <label for="masterPassword">{{'masterPass' | i18n}}. Using custom password input component</label>
            <input id="masterPassword" type="{{showPassword ? 'text' : 'password'}}" name="MasterPassword"
                class="monospaced" [ngModel]="dummyInput" (ngModelChange)="onInsideChange($event)" required appInputVerbatim>

        </div>

        <div class="action-buttons">
            <a class="row-btn" href="#" appStopClick appBlurClick appA11yTitle="{{'toggleVisibility' | i18n}}"
                (click)="togglePassword()">
                <i class="fa fa-lg" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"
                    aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
